[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pillow = ">=6.2.0"
"flake8" = "*"
yarl = "<1.2"
rethinkdb = "<=2.4.1"
ptvsd = "*"
pyyaml = ">=4.2b1"
pathlib = "*"
discord-py = "*"
fuzzywuzzy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
